* {
    padding: 0px;
    margin: 0px;
}

/* Estilos para el header */
header {
    margin-left: 0px;
    text-align: center;
    color: #fff;
}
    /* Estilos para las subsecciones */
#info-personal, #habilidades {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 50%;
    background-color: #8181c4;
    border: 1px solid rgb(231, 231, 231);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}

    /* Estilos para los títulos de subsecciones */
#info-personal h2, #habilidades h2 {
    font-size: 24px;
    padding-bottom: 30px;
}
    /* Estilos para la lista de habilidades */
#habilidades ul {
    text-align: left;
    font-style: normal;
    list-style-type: square;
}
    /* Estilos para el footer */
footer {
    color: #333;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 90%;
    position: absolute;
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav-item {
    float: left;
  }
  
.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    background-color: #111;
}

/* Media Queries para hacer la página responsiva */
/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    /* Podemos ajustar el padding del encabezado y las subsecciones */
    header, #info-personal, #habilidades {
    padding: 10px;
}
    /* Y también cambiar el tamaño de la fuente del título */
h1, h2 {
    font-size: 24px;
}
#info-personal, #habilidades {
    width: 90%;
}
}
    /* Estilos para pantallas medianas (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Aquí podríamos mantener el padding del encabezado y las
    subsecciones igual */
header, #info-personal, #habilidades {
    padding: 20px;
}
    /* Pero quizás queremos que los títulos sean un poco más grandes que
    en móviles pero menores que en desktop */
h1, h2 {
    font-size: 32px;
}

#info-personal, #habilidades {
    width: 90%;
}

}
    /* Estilos para pantallas grandes (desktops) */
@media only screen and (min-width: 1025px) {
    /* Aquí podríamos aumentar el padding del encabezado y las
        subsecciones */
    header, #info-personal, #habilidades {
    padding: 30px;
}
    /* Y hacer que los títulos sean más grandes */
h1, h2 {
    font-size: 28px;
}
}
        